
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 4px;
    border: 2px solid #001;
}